td {
    border: 2px solid black;
    text-align: center;
}
th {
    border: 2px solid black;
}

img {
    max-width: 200px;
    max-height: 200px;

    }
</style>
<style>
h1{ 
    color:rgb(6, 77, 185);
    font-style:oblique;
    
}
h2{
    color: brown;
    font-size:large;
}
